body{
    margin-top: 68px;
    margin-left: 85px;
    margin-right: 85px;
}



.container {
    display: flex;
    justify-content: space-around;
    
}

@font-face {
    font-family: 'cursedtimer'; 
    src: url('CursedTimer.ttf'); 
}

body{
    background: #1B244A;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: bold;
    color: #EEEEEE;
    
    text-align: center;
}

.score-board{
    background:black;
    border-radius: 5px;
    text-align: center;
    color:#F94F6D;
    font-size:90px;
    font-family:'cursedtimer';
    padding: 20px 20px;
    margin-top: 21px; 
    
}

.buttons{
    display: flex;
    justify-content: center;
    
    
}

.button-specific{
    width: 45px;
    height: 45px;
    background: #1B244A;
    border:2px solid #9AABD8;
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
    font-family:'cursedtimer';
    color:#9AABD8;
}

